{% load static %}

<div class="side-content-wrap">
    <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
        <ul class="navigation-left">
            <li class="nav-item" ><a class="nav-item-hold" href="/"><i class="nav-icon i-Bar-Chart"></i><span class="nav-text">Dashboard</span></a>
                <div class="triangle"></div>
            </li>
{#            <li class="nav-item" data-item="user"><a class="nav-item-hold" href="#"><i class="nav-icon i-Lock-User"></i><span class="nav-text">Accounts</span></a>#}
{#                <div class="triangle"></div>#}
{#            </li>#}
        </ul>
    </div>
    <div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
{#        <ul class="childNav" data-parent="customer">#}
{#            <li class="nav-item"><a href="{% url 'customer:list' %}"><i class="nav-icon i-Notepad-2"></i><span class="item-name">All Customer</span></a></li>#}
{#            <li class="nav-item"><a href="{% url 'customer:add' %}"><i class="nav-icon i-Add-User"></i><span class="item-name">Add Customer</span></a></li>#}
{#        </ul>#}
    </div>
    <div class="sidebar-overlay"></div>
</div>
<!-- =============== Left side End ================-->