{% extends "base.html" %}
{% load static %}


{% block css %}
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet" />
    <link href="{% static 'assets/css/themes/lite-purple.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/plugins/perfect-scrollbar.min.css' %}" rel="stylesheet" />
{% endblock css %}
{% block content %}

    <!-- ============ Body content start ============= -->
    <div class="main-content">
        <div class="breadcrumb">
            <h1>{{ profile.name | capfirst }}</h1>
            <ul>
                <li>Profile</li>
            </ul>
        </div>
        <div class="separator-breadcrumb border-top"></div>
        <div class="card user-profile o-hidden mb-4">
            <div class="card-header">
                <p class="m-0 text-24">{{ profile.name | capfirst }} <small>({{ orders }})</small></p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 col-6">
                        <div class="mb-4">
                            <p class="text-primary mb-1"><i class="i-Checked-User text-16 mr-1"></i> Name</p><span>{{ profile.name | capfirst }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="mb-4">
                            <p class="text-primary mb-1"><i class="i-Telephone text-16 mr-1"></i> Mobile</p><span>{{ profile.mobile }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="mb-4">
                            <p class="text-primary mb-1"><i class="i-Map text-16 mr-1"></i> Address</p><span>{{ profile.address }}</span>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div><!-- end of main-content -->
    </div>

{% endblock content %}


{% block js %}

    <script src="{% static 'assets/js/plugins/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/scripts/script.min.js' %}"></script>
    <script src="{% static 'assets/js/scripts/sidebar.large.script.min.js' %}"></script>

    <script>
        $(function () {

        });
    </script>
{% endblock js %}